.about-title {
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: center; */
    position: absolute;
    font-family: Courier, Sans-serif, Serif;
    font-size: 50px;
    padding: 0px;
    margin-left: 120px;
    width: 100vw;
    padding-top: 70px;
}

.profile-img {
    display: flex;
    justify-content: flex-end;
    margin-left: 120px;
    /* margin-left: 20%; */
    height: 350px;
    width: 350px;
    border-radius: 10px;
}

.about-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.p-1 {
    display: flex;
    /* padding: 0px 0px 50px 150px;
    margin-right: 40%; */
    line-height: 2;
    font-size: 18px;
}

.p-2 {
    display: flex;
    /* padding: 0px 0px 50px 150px;
    margin-right: 40%; */
    line-height: 2;
    font-size: 18px;
}

/* Media Queries */
/*XS*/
@media screen and (min-width: 475px) {
    header{
        max-width: 475px;
    }
}

/*SM*/
@media screen and (min-width: 640px) {
    header{
        max-width: 640px;
    }
}

/*MD*/
@media screen and (min-width: 768px) {
    header{
        max-width: 768px;
    }
}

/*LG*/
@media screen and (min-width: 1024px) {
    header{
        max-width: 1024px;
    }
}

/*XL*/
@media screen and (min-width: 1280px) {
    header{
        max-width: 1280px
    }
}

/*XXL*/
@media screen and (min-width: 1536px) {
    header{
        max-width: 1536px;
    }
}