.about-title {
    display: flex;
    justify-content: center;
    font-family: Courier, Sans-serif, Serif;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    padding-top: 70px;
}

.profile-img {
    display: flex;
    height: 250px;
    width: 250px;
    margin-left: 450px;
    border-radius: 10px;
}

.about-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.p-1 {
    display: flex;
    padding: 0px 150px 50px 150px;
    line-height: 2;
    font-size: 18px;
}

.p-2 {
    display: flex;
    padding: 0px 150px 50px 150px;
    line-height: 2;
    font-size: 18px;
}
