.contact-title {
    display: flex;
    justify-content: center;
    font-family: Courier, Sans-serif, Serif;
    padding-bottom: 0px;
    margin-top: 70px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    padding: 0%;
    align-items: center;
}

.contact-container li {
    text-decoration: none;
}