* {

}

/*Will need to remove once Links are created (ul, li, li:hover)*/
.Footer ul {
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: #3A10E5;
    position: fixed;
    bottom: 0;
    width: 100%;
    list-style-type: none; /*removes bullet points*/
}

.Footer li {
    margin: 0px 25px;
    font-family: Courier, Sans-serif, Serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.Footer li:hover {
    cursor: pointer;
    color: #000000;
    transform: scale(1.1);
}
