* {
    
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Copperplate, Sans-serif, Serif;
    padding: 25px;
    background-color: rgb(255, 255, 255);
}

.Nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.Nav li {
    font-family: Courier, Sans-serif, Serif;
    font-size: 20px;
}

.Nav li:hover {
    cursor: pointer;
    color: #3A10E5;
    transform: scale(1.1);
}


