body {
    height: 100vh;
    width: 100vw;
}

.grid-parent {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box {
    width: 30%;
    padding: 10px;
}

.portfolio-title {
    display: flex;
    justify-content: center;
    font-family: Courier, Sans-serif, Serif;
    padding: 0px;
    margin-top: 70px;
}

.portfolioImg { /* struggling to center the images*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40%;
    width: 95%;
    border-radius: 10px;
}

.projectName {
    display: flex;
    justify-content: center;
    font-family: Courier, Sans-serif, Serif;
    padding: 140px 0px 20px 0px;
    margin-top: 30px;
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
}

.link {
    display: flex;
    justify-content: center;
    font-family: Courier, Sans-serif, Serif;
    padding: 20px;
}

.button-link {
    display: flex;
    padding: 10px;
    font-family: Courier, Sans-serif, Serif;
    border-radius: 5px;
    color: white;
    background-color: #3A10E5;
    cursor: pointer;
}

.button-link:hover {
    scale: 0.9;
}

.repository {
    display: flex;
    justify-content: center;
    font-family: Courier, Sans-serif, Serif;
}

.button-repository {
    display: flex;
    padding: 10px;
    font-family: Courier, Sans-serif, Serif;
    border-radius: 5px;
    color: white;
    background-color: #3A10E5;
    cursor: pointer;
}

.button-repository:hover {
    scale: 0.9;
}