.resume-title {
    display: flex;
    justify-content: center;
    font-family: Courier, Sans-serif, Serif;
    padding-bottom: 50px;
    margin-top: 70px;
}

.resume-container a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.resume-container button {
    display: flex;
    padding: 10px;
    font-family: Courier, Sans-serif, Serif;
    border-radius: 5px;
    color: white;
    background-color: #3A10E5;
}

.resume-container button:hover {
    cursor: pointer;
    scale: 0.9;
}